:root {
  --main-bacgraund: #ffffff;
  --tittle-colore: #212121;
  --paragraf-colore: #757575;
  --section-colore: #f5f4fa;
  --main-blue: #2196f3;
  --buttone-blue: #188ce8;
  --button-bacgraund: #f5f4fa;
  --footer-black: #2f303a;
  /* fonts */
  /* Roboto 500,900,700,400 Weight  */
}

body {
  background-color: var(--main-bacgraund);
  color: var(--paragraf-colore);
  font-family: roboto, sans-serif;
}
.footer {
  background-color: var(--footer-black);
}
.section-hero {
  background-color: var(--footer-black);
}
h1,
h3 {
  color: var(--tittle-colore);
}

ul,
li {
  list-style: none;
}
.logo {
  color: var(--tittle-colore);
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  font-weight: bold;
  font-size: 26px;
}
.span {
  color: #2196f3;
}
.link {
  text-decoration: none;
  color: var(--tittle-colore);
}
.link.current {
  color: var(--main-blue);
}

.site-nav a {
  color: var(--tittle-colore);
  /* font-family: Roboto, sans-serif; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav :hover,
.site-nav :focus {
  color: var(--main-blue);
}
.contakts a {
  color: var(--paragraf-colore);
  font-weight: 500;
  /* font-family: Roboto; */

  font-size: 14px;
  line-height: 1.14;
}
.contakts :focus,
.contakts :hover {
  color: #2196f3;
}
.title-hero {
  color: var(--main-bacgraund);
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.4;
  line-height: 1.16;
  text-align: center;
}
.button-orde {
  color: #ffffff;
  background-color: var(--main-blue);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}
.button-orde:focus,
.button-orde:hover {
  color: #ffffff;
  background-color: var(--buttone-blue);
}
.title-main {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
}
.section-title {
  color: var(--tittle-colore);
  /* font-family: Roboto, sans-serif; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  line-height: 3%;
  text-align: center;
}
.title-text {
  /* font-family: Roboto; */

  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
}
.title-inner {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
}
.inner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  line-height: 3%;
  text-align: center;
}
.adress-footer a {
  /* color: var(--paragraf-colore); */
}
.adress-footer :hover,
:focus {
  color: var(--main-blue);
}
.section-nav {
}
.nav-portfolio {
  font-family: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.nav-portfolio:hover,
.nav-portfolio:focus {
  color: var(--main-bacgraund);
  background-color: var(--main-blue);
}
.section-portfolio p {
  color: var(--paragraf-colore);
}

.img-back {
  background-color: #eeeeee;
}
.point {
  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
}
.mail-footer,
.tel-footer {
  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
  text-align: left;
  vertical-align: top;
  color: rgba(255, 255, 255, 1);
}
.logo-footer {
  color: #ffffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.inner-title {
  /* font-family: Roboto; */
  /* font-weight: normal; */
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.foto-title {
  /* font-family: Roboto, sans-serif; */
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.adres {
  font-style: normal;
}
